<a href="https://colab.research.google.com/github/sumankrsh/pyspark_tutorialbasic/blob/main/pyspark_basicfeature_check.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
! pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 44 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 60.4 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=5e10695dffb836621f59fbd5c031358c193949f8a5461e6ac7fd532ad1c8319f
  Stored in directory: /root/.cache/pip/wheels/7a/8e/1b/f73a52650d2e5f337708d9f6a1750d451a7349a867f928b885
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

In [2]:
import pyspark

In [6]:
import pandas as pd
#pd.read_csv('california_housing_test.csv')

pd.read_csv('sample_training_data.csv')

,Unnamed: 0,patientId,patientSex,patientAge,Modality,ViewPosition,BodyPartExamined,ConversionType,PixelSpacing,x,y,width,height,Target,class,number_of_boxes
0,0,133a1f56-1ab0-4df7-8e1b-4a6293934f3a,F,32,CR,AP,CHEST,WSD,"[0.168, 0.168]",235.0,550.0,178.0,183.0,1,Lung Opacity,9
1,1,9ee07fd5-612d-4a33-89a6-12fa8ce9bb48,M,31,CR,AP,CHEST,WSD,"[0.171, 0.171]",292.0,123.0,309.0,679.0,1,Lung Opacity,4
2,2,dd7017f1-8ff4-4854-9471-9e885a1b7627,M,68,CR,PA,CHEST,WSD,"[0.14300000000000002, 0.14300000000000002]",NaN,NaN,NaN,NaN,0,No Lung Opacity / Not Normal,1
3,3,2af7c7b5-4b57-470a-9b31-1f167e3e500a,M,62,CR,PA,CHEST,WSD,"[0.14300000000000002, 0.14300000000000002]",201.0,542.0,213.0,87.0,1,Lung Opacity,1
4,4,17e0f44b-39d6-4e3f-abd0-066fd94ee6de,M,56,CR,AP,CHEST,WSD,"[0.168, 0.168]",190.0,244.0,259.0,291.0,1,Lung Opacity,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,ad587880-a108-4b52-bf4a-28d248bb1539,M,52,CR,AP,CHEST,WSD,"[0.168, 0.168]",224.0,405.0,135.0,315.0,1,Lung Opacity,4
996,996,0d2bc8b2-2340-4deb-b29c-ae4da8fa5764,M,63,CR,PA,CHEST,WSD,"[0.19431099999999998, 0.19431099999999998]",638.0,438.0,135.0,118.0,1,Lung Opacity,4
997,997,6f0739c0-39c6-45d4-bd64-c1f164c00e21,M,34,CR,PA,CHEST,WSD,"[0.14300000000000002, 0.14300000000000002]",NaN,NaN,NaN,NaN,0,No Lung Opacity / Not Normal,1
998,998,8f54d530-066c-4a62-8d66-10293a8fe7d9,F,58,CR,AP,CHEST,WSD,"[0.168, 0.168]",NaN,NaN,NaN,NaN,0,No Lung Opacity / Not Normal,1
999,999,606399ca-67b1-438f-91b3-de7d1914a7e8,F,42,CR,AP,CHEST,WSD,"[0.139, 0.139]",NaN,NaN,NaN,NaN,0,No Lung Opacity / Not Normal,1

In [7]:
from pyspark.sql import SparkSession

In [8]:
SP=SparkSession.builder.appName('test').getOrCreate()

In [9]:
SP

In [10]:
df_SP=SP.read.csv('sample_training_data.csv')

In [11]:
df_SP

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string, _c6: string, _c7: string, _c8: string, _c9: string, _c10: string, _c11: string, _c12: string, _c13: string, _c14: string, _c15: string]

In [12]:
df_SP.show()

+----+--------------------+----------+----------+--------+------------+----------------+--------------+--------------------+-----+-----+-----+------+------+--------------------+---------------+
| _c0|                 _c1|       _c2|       _c3|     _c4|         _c5|             _c6|           _c7|                 _c8|  _c9| _c10| _c11|  _c12|  _c13|                _c14|           _c15|
+----+--------------------+----------+----------+--------+------------+----------------+--------------+--------------------+-----+-----+-----+------+------+--------------------+---------------+
|null|           patientId|patientSex|patientAge|Modality|ViewPosition|BodyPartExamined|ConversionType|        PixelSpacing|    x|    y|width|height|Target|               class|number_of_boxes|
|   0|133a1f56-1ab0-4df...|         F|        32|      CR|          AP|           CHEST|           WSD|      [0.168, 0.168]|235.0|550.0|178.0| 183.0|     1|        Lung Opacity|              9|
|   1|9ee07fd5-612d-4a3...|         M|        31|      CR|          AP|           CHEST|           WSD|      [0.171, 0.171]|292.0|123.0|309.0| 679.0|     1|        Lung Opacity|              4|
|   2|dd7017f1-8ff4-485...|         M|        68|      CR|          PA|           CHEST|           WSD|[0.14300000000000...| null| null| null|  null|     0|No Lung Opacity /...|              1|
|   3|2af7c7b5-4b57-470...|         M|        62|      CR|          PA|           CHEST|           WSD|[0.14300000000000...|201.0|542.0|213.0|  87.0|     1|        Lung Opacity|              1|
|   4|17e0f44b-39d6-4e3...|         M|        56|      CR|          AP|           CHEST|           WSD|      [0.168, 0.168]|190.0|244.0|259.0| 291.0|     1|        Lung Opacity|              9|
|   5|3685fe73-c5fe-47d...|         M|        17|      CR|          AP|           CHEST|           WSD|      [0.139, 0.139]|214.0|641.0|248.0| 214.0|     1|        Lung Opacity|              4|
|   6|75d91c02-dac0-493...|         F|        43|      CR|          PA|           CHEST|           WSD|[0.14300000000000...| null| null| null|  null|     0|              Normal|              1|
|   7|812f09b2-bdb0-473...|         F|        53|      CR|          PA|           CHEST|           WSD|[0.14300000000000...| null| null| null|  null|     0|No Lung Opacity /...|              1|
|   8|7c756321-18a2-430...|         M|        25|      CR|          PA|           CHEST|           WSD|[0.14300000000000...| null| null| null|  null|     0|              Normal|              1|
|   9|ccb06817-dd39-47f...|         M|        32|      CR|          AP|           CHEST|           WSD|      [0.168, 0.168]|218.0|113.0|295.0| 525.0|     1|        Lung Opacity|              4|
|  10|b38cc4d8-f90d-405...|         F|        48|      CR|          AP|           CHEST|           WSD|      [0.168, 0.168]|228.0|410.0|261.0| 226.0|     1|        Lung Opacity|              4|
|  11|88e30597-cf5a-4f8...|         M|        58|      CR|          PA|           CHEST|           WSD|[0.14300000000000...| null| null| null|  null|     0|No Lung Opacity /...|              1|
|  12|3275fe4e-18e7-4fe...|         M|        63|      CR|          AP|           CHEST|           WSD|      [0.171, 0.171]|612.0|669.0|199.0| 150.0|     1|        Lung Opacity|              1|
|  13|a3a15e9c-71d6-440...|         F|        23|      CR|          AP|           CHEST|           WSD|      [0.168, 0.168]|162.0|420.0|204.0| 315.0|     1|        Lung Opacity|              4|
|  14|8a2f2a7e-6692-400...|         F|        44|      CR|          PA|           CHEST|           WSD|      [0.168, 0.168]| null| null| null|  null|     0|              Normal|              1|
|  15|34e283d8-3c14-4d4...|         M|        47|      CR|          AP|           CHEST|           WSD|      [0.168, 0.168]|626.0|409.0|214.0| 403.0|     1|        Lung Opacity|              4|
|  16|693ad3cb-222c-4f8...|         F|        71|      CR|          PA|           CHEST|           WSD|      [0.139, 0.139]| null| null| null|  null|     0|No Lung Opacity /...|              1|
|  17|c08f10a9-1c81-4c8...|         M|        71|      CR|          PA|           CHEST|           WSD|[0.14300000000000...|578.0|668.0|350.0| 179.0|     1|        Lung Opacity|              4|
|  18|b006df68-f367-494...|         M|        40|      CR|          AP|           CHEST|           WSD|      [0.139, 0.139]|157.0|228.0|254.0| 537.0|     1|        Lung Opacity|              4|
+----+--------------------+----------+----------+--------+------------+----------------+--------------+--------------------+-----+-----+-----+------+------+--------------------+---------------+
only showing top 20 rows

In [15]:
df_SP=SP.read.option('header','true').csv('sample_training_data.csv')

In [16]:
df_SP.show()

+---+--------------------+----------+----------+--------+------------+----------------+--------------+--------------------+-----+-----+-----+------+------+--------------------+---------------+
|_c0|           patientId|patientSex|patientAge|Modality|ViewPosition|BodyPartExamined|ConversionType|        PixelSpacing|    x|    y|width|height|Target|               class|number_of_boxes|
+---+--------------------+----------+----------+--------+------------+----------------+--------------+--------------------+-----+-----+-----+------+------+--------------------+---------------+
|  0|133a1f56-1ab0-4df...|         F|        32|      CR|          AP|           CHEST|           WSD|      [0.168, 0.168]|235.0|550.0|178.0| 183.0|     1|        Lung Opacity|              9|
|  1|9ee07fd5-612d-4a3...|         M|        31|      CR|          AP|           CHEST|           WSD|      [0.171, 0.171]|292.0|123.0|309.0| 679.0|     1|        Lung Opacity|              4|
|  2|dd7017f1-8ff4-485...|         M|        68|      CR|          PA|           CHEST|           WSD|[0.14300000000000...| null| null| null|  null|     0|No Lung Opacity /...|              1|
|  3|2af7c7b5-4b57-470...|         M|        62|      CR|          PA|           CHEST|           WSD|[0.14300000000000...|201.0|542.0|213.0|  87.0|     1|        Lung Opacity|              1|
|  4|17e0f44b-39d6-4e3...|         M|        56|      CR|          AP|           CHEST|           WSD|      [0.168, 0.168]|190.0|244.0|259.0| 291.0|     1|        Lung Opacity|              9|
|  5|3685fe73-c5fe-47d...|         M|        17|      CR|          AP|           CHEST|           WSD|      [0.139, 0.139]|214.0|641.0|248.0| 214.0|     1|        Lung Opacity|              4|
|  6|75d91c02-dac0-493...|         F|        43|      CR|          PA|           CHEST|           WSD|[0.14300000000000...| null| null| null|  null|     0|              Normal|              1|
|  7|812f09b2-bdb0-473...|         F|        53|      CR|          PA|           CHEST|           WSD|[0.14300000000000...| null| null| null|  null|     0|No Lung Opacity /...|              1|
|  8|7c756321-18a2-430...|         M|        25|      CR|          PA|           CHEST|           WSD|[0.14300000000000...| null| null| null|  null|     0|              Normal|              1|
|  9|ccb06817-dd39-47f...|         M|        32|      CR|          AP|           CHEST|           WSD|      [0.168, 0.168]|218.0|113.0|295.0| 525.0|     1|        Lung Opacity|              4|
| 10|b38cc4d8-f90d-405...|         F|        48|      CR|          AP|           CHEST|           WSD|      [0.168, 0.168]|228.0|410.0|261.0| 226.0|     1|        Lung Opacity|              4|
| 11|88e30597-cf5a-4f8...|         M|        58|      CR|          PA|           CHEST|           WSD|[0.14300000000000...| null| null| null|  null|     0|No Lung Opacity /...|              1|
| 12|3275fe4e-18e7-4fe...|         M|        63|      CR|          AP|           CHEST|           WSD|      [0.171, 0.171]|612.0|669.0|199.0| 150.0|     1|        Lung Opacity|              1|
| 13|a3a15e9c-71d6-440...|         F|        23|      CR|          AP|           CHEST|           WSD|      [0.168, 0.168]|162.0|420.0|204.0| 315.0|     1|        Lung Opacity|              4|
| 14|8a2f2a7e-6692-400...|         F|        44|      CR|          PA|           CHEST|           WSD|      [0.168, 0.168]| null| null| null|  null|     0|              Normal|              1|
| 15|34e283d8-3c14-4d4...|         M|        47|      CR|          AP|           CHEST|           WSD|      [0.168, 0.168]|626.0|409.0|214.0| 403.0|     1|        Lung Opacity|              4|
| 16|693ad3cb-222c-4f8...|         F|        71|      CR|          PA|           CHEST|           WSD|      [0.139, 0.139]| null| null| null|  null|     0|No Lung Opacity /...|              1|
| 17|c08f10a9-1c81-4c8...|         M|        71|      CR|          PA|           CHEST|           WSD|[0.14300000000000...|578.0|668.0|350.0| 179.0|     1|        Lung Opacity|              4|
| 18|b006df68-f367-494...|         M|        40|      CR|          AP|           CHEST|           WSD|      [0.139, 0.139]|157.0|228.0|254.0| 537.0|     1|        Lung Opacity|              4|
| 19|a1ea1b8d-697a-4d0...|         M|        31|      CR|          PA|           CHEST|           WSD|[0.14300000000000...| null| null| null|  null|     0|              Normal|              1|
+---+--------------------+----------+----------+--------+------------+----------------+--------------+--------------------+-----+-----+-----+------+------+--------------------+---------------+
only showing top 20 rows

In [17]:
df_SP.head(3)

[Row(_c0='0', patientId='133a1f56-1ab0-4df7-8e1b-4a6293934f3a', patientSex='F', patientAge='32', Modality='CR', ViewPosition='AP', BodyPartExamined='CHEST', ConversionType='WSD', PixelSpacing='[0.168, 0.168]', x='235.0', y='550.0', width='178.0', height='183.0', Target='1', class='Lung Opacity', number_of_boxes='9'),
 Row(_c0='1', patientId='9ee07fd5-612d-4a33-89a6-12fa8ce9bb48', patientSex='M', patientAge='31', Modality='CR', ViewPosition='AP', BodyPartExamined='CHEST', ConversionType='WSD', PixelSpacing='[0.171, 0.171]', x='292.0', y='123.0', width='309.0', height='679.0', Target='1', class='Lung Opacity', number_of_boxes='4'),
 Row(_c0='2', patientId='dd7017f1-8ff4-4854-9471-9e885a1b7627', patientSex='M', patientAge='68', Modality='CR', ViewPosition='PA', BodyPartExamined='CHEST', ConversionType='WSD', PixelSpacing='[0.14300000000000002, 0.14300000000000002]', x=None, y=None, width=None, height=None, Target='0', class='No Lung Opacity / Not Normal', number_of_boxes='1')]

In [18]:
type(df_SP)

pyspark.sql.dataframe.DataFrame

In [19]:
df_SP.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- patientId: string (nullable = true)
 |-- patientSex: string (nullable = true)
 |-- patientAge: string (nullable = true)
 |-- Modality: string (nullable = true)
 |-- ViewPosition: string (nullable = true)
 |-- BodyPartExamined: string (nullable = true)
 |-- ConversionType: string (nullable = true)
 |-- PixelSpacing: string (nullable = true)
 |-- x: string (nullable = true)
 |-- y: string (nullable = true)
 |-- width: string (nullable = true)
 |-- height: string (nullable = true)
 |-- Target: string (nullable = true)
 |-- class: string (nullable = true)
 |-- number_of_boxes: string (nullable = true)

**Series Check:** ✅

PySpark Dataframe

Reading The Dataset

Checking the Datatypes of the Column(Schema)

Selecting Columns And Indexing

Check Describe option similar to Pandas

Adding Columns

Dropping columns

Renaming Columns

In [20]:
from pyspark.sql import SparkSession

In [21]:
spark=SparkSession.builder.appName('Dataframe').getOrCreate()

In [24]:
spark

In [25]:
## read the dataset
df_pyspark=spark.read.option('header','true').csv('test1.csv',inferSchema=True)

In [26]:
### Check the schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [27]:
df_pyspark=spark.read.csv('test1.csv',header=True,inferSchema=True)
df_pyspark.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [28]:
### Check the schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [29]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [30]:
df_pyspark.head(3)

[Row(Name='Krish', age=31, Experience=10, Salary=30000),
 Row(Name='Sudhanshu', age=30, Experience=8, Salary=25000),
 Row(Name='Sunny', age=29, Experience=4, Salary=20000)]

In [31]:
df_pyspark.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [32]:
df_pyspark.select(['Name','Experience']).show()

+---------+----------+
|     Name|Experience|
+---------+----------+
|    Krish|        10|
|Sudhanshu|         8|
|    Sunny|         4|
|     Paul|         3|
|   Harsha|         1|
|  Shubham|         2|
+---------+----------+

In [33]:
df_pyspark['Name']

Column<'Name'>

In [34]:
df_pyspark.dtypes

[('Name', 'string'), ('age', 'int'), ('Experience', 'int'), ('Salary', 'int')]

In [36]:

##describe the dataframe 

df_pyspark.describe().show()

+-------+------+------------------+-----------------+------------------+
|summary|  Name|               age|       Experience|            Salary|
+-------+------+------------------+-----------------+------------------+
|  count|     6|                 6|                6|                 6|
|   mean|  null|26.333333333333332|4.666666666666667|21333.333333333332|
| stddev|  null| 4.179314138308661|3.559026084010437| 5354.126134736337|
|    min|Harsha|                21|                1|             15000|
|    max| Sunny|                31|               10|             30000|
+-------+------+------------------+-----------------+------------------+

In [37]:
### Adding Columns in data frame
df_pyspark=df_pyspark.withColumn('Experience After 2 year',df_pyspark['Experience']+2)

In [38]:
df_pyspark.show()

+---------+---+----------+------+-----------------------+
|     Name|age|Experience|Salary|Experience After 2 year|
+---------+---+----------+------+-----------------------+
|    Krish| 31|        10| 30000|                     12|
|Sudhanshu| 30|         8| 25000|                     10|
|    Sunny| 29|         4| 20000|                      6|
|     Paul| 24|         3| 20000|                      5|
|   Harsha| 21|         1| 15000|                      3|
|  Shubham| 23|         2| 18000|                      4|
+---------+---+----------+------+-----------------------+

In [39]:
### Drop the columns
df_pyspark=df_pyspark.drop('Experience After 2 year')

In [40]:
df_pyspark.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [42]:
### Rename the columns
df_pyspark.withColumnRenamed('Name','updated_Name').show()

+------------+---+----------+------+
|updated_Name|age|Experience|Salary|
+------------+---+----------+------+
|       Krish| 31|        10| 30000|
|   Sudhanshu| 30|         8| 25000|
|       Sunny| 29|         4| 20000|
|        Paul| 24|         3| 20000|
|      Harsha| 21|         1| 15000|
|     Shubham| 23|         2| 18000|
+------------+---+----------+------+

# **Pyspark Handling Missing Values**: ✊

Dropping Columns

Dropping Rows

Various Parameter In Dropping functionalities

Handling Missing values by Mean, MEdian And Mode

In [3]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Practise').getOrCreate()

In [4]:
df_pyspark=spark.read.csv('test2.csv',header=True,inferSchema=True)

In [5]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [6]:
df_pyspark.show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|null|      null| 40000|
|     null|  34|        10| 38000|
|     null|  36|      null|  null|
+---------+----+----------+------+

In [7]:
##drop the columns
df_pyspark.drop('Name').show()

+----+----------+------+
| age|Experience|Salary|
+----+----------+------+
|  31|        10| 30000|
|  30|         8| 25000|
|  29|         4| 20000|
|  24|         3| 20000|
|  21|         1| 15000|
|  23|         2| 18000|
|null|      null| 40000|
|  34|        10| 38000|
|  36|      null|  null|
+----+----------+------+

In [8]:
df_pyspark.show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|null|      null| 40000|
|     null|  34|        10| 38000|
|     null|  36|      null|  null|
+---------+----+----------+------+

In [9]:
df_pyspark.na.drop().show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [10]:
### any==how (any = if there is any single null values then remove it)
df_pyspark.na.drop(how="any").show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [11]:
### how='all' means if all the columns have null then remove the row
df_pyspark.na.drop(how="all").show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|null|      null| 40000|
|     null|  34|        10| 38000|
|     null|  36|      null|  null|
+---------+----+----------+------+

In [12]:
##threshold =1 means show the row which have only 1 numeric or values in the row like row 36 and 40000
df_pyspark.na.drop(how="any",thresh=1).show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|null|      null| 40000|
|     null|  34|        10| 38000|
|     null|  36|      null|  null|
+---------+----+----------+------+

In [13]:
##Subset , drop null value in the specific column 'age'
df_pyspark.na.drop(how="any",subset=['age']).show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
|     null| 34|        10| 38000|
|     null| 36|      null|  null|
+---------+---+----------+------+

In [15]:
from pyspark.sql.functions import *

In [25]:
df2=df_pyspark.na.fill('no_value').show()
#df_pyspark.fillna({'age':' '}).show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|null|      null| 40000|
| no_value|  34|        10| 38000|
| no_value|  36|      null|  null|
+---------+----+----------+------+

In [34]:
df3=df_pyspark.na.fill(value=0,subset=["age","Experience","Salary"]).show() #missing value replacement for string type

df3=df_pyspark.na.fill(value=0).show()# for integer


df3=df_pyspark.na.fill({"Name": "unknown_name", "Name": ""}) \
    .show()
#for integer replace with blank


df3=df_pyspark.na.fill("unknown",["Name"]) \ #replace with string name defined
    .na.fill("",["age"]).show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
|   Mahesh|  0|         0| 40000|
|     null| 34|        10| 38000|
|     null| 36|         0|     0|
+---------+---+----------+------+

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
|   Mahesh|  0|         0| 40000|
|     null| 34|        10| 38000|
|     null| 36|         0|     0|
+---------+---+----------+------+

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|null|      null| 40000|
|         |  34|        10| 38000|
|         |  36|      null|  null|
+---------+----+----------+------+

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|null|      null| 40000|
|  unknown|  34|        10| 38000|
|  unknown|  36|      null|  null|
+---------+----+----------+------+

In [35]:
### Filling the Missing Value
df_pyspark.na.fill('Missing Values',['Experience','age']).show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|null|      null| 40000|
|     null|  34|        10| 38000|
|     null|  36|      null|  null|
+---------+----+----------+------+

In [73]:
### Filling the Missing Value
###need to check the code for replacing missing value and impute function as it is not working here 
df_pyspark.na.fill('Missing Values',['Experience','age']).show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|null|      null| 40000|
|     null|  34|        10| 38000|
|     null|  36|      null|  null|
+---------+----+----------+------+

In [70]:
df_pyspark.show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|null|      null| 40000|
|     null|  34|        10| 38000|
|     null|  36|      null|  null|
+---------+----+----------+------+

In [56]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [36]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=['age', 'Experience', 'Salary'], 
    outputCols=["{}_imputed".format(c) for c in ['age', 'Experience', 'Salary']]
    ).setStrategy("mean")

In [37]:
# Add imputation cols to df and values of null got replaced automatially with the mean value of the respective columns 
imputer.fit(df_pyspark).transform(df_pyspark).show()

+---------+----+----------+------+-----------+------------------+--------------+
|     Name| age|Experience|Salary|age_imputed|Experience_imputed|Salary_imputed|
+---------+----+----------+------+-----------+------------------+--------------+
|    Krish|  31|        10| 30000|         31|                10|         30000|
|Sudhanshu|  30|         8| 25000|         30|                 8|         25000|
|    Sunny|  29|         4| 20000|         29|                 4|         20000|
|     Paul|  24|         3| 20000|         24|                 3|         20000|
|   Harsha|  21|         1| 15000|         21|                 1|         15000|
|  Shubham|  23|         2| 18000|         23|                 2|         18000|
|   Mahesh|null|      null| 40000|         28|                 5|         40000|
|     null|  34|        10| 38000|         34|                10|         38000|
|     null|  36|      null|  null|         36|                 5|         25750|
+---------+----+----------+------+-----------+------------------+--------------+

# Pyspark Dataframes
#Filter Operation
.&,

.|,

.==

~ 

[webpage .link](https://sparkbyexamples.com/pyspark)

In [38]:
spark=SparkSession.builder.appName('dataframe').getOrCreate()

In [39]:
df_pyspark=spark.read.csv('test1.csv',header=True,inferSchema=True)
df_pyspark.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

# **Filter Operations**

In [40]:
### Salary of the people less than or equal to 20000
df_pyspark.filter("Salary<=20000").show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

In [41]:
df_pyspark.filter("Salary<=20000").select(['Name','age']).show()

+-------+---+
|   Name|age|
+-------+---+
|  Sunny| 29|
|   Paul| 24|
| Harsha| 21|
|Shubham| 23|
+-------+---+

In [42]:
df_pyspark.filter(df_pyspark['Salary']<=20000).show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

In [46]:
df_pyspark.filter((df_pyspark['Salary']<=20000) &

### & = and condition and if you give this | then it means or conditon
                  (df_pyspark['Salary']>=15000)).show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

In [47]:
df_pyspark.filter(~(df_pyspark['Salary']<=20000)).show()
#~ - not condition

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
+---------+---+----------+------+

## **Pyspark GroupBy And Aggregate Functions**

In [48]:
from pyspark.sql import SparkSession

In [49]:
spark=SparkSession.builder.appName('Agg').getOrCreate()

In [50]:
spark

In [51]:
df_pyspark=spark.read.csv('test3.csv',header=True,inferSchema=True)

In [52]:
df_pyspark.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

In [53]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- salary: integer (nullable = true)

In [54]:
## Groupby
### Grouped to find the maximum salary
df_pyspark.groupBy('Name').sum().show()

+---------+-----------+
|     Name|sum(salary)|
+---------+-----------+
|Sudhanshu|      35000|
|    Sunny|      12000|
|    Krish|      19000|
|   Mahesh|       7000|
+---------+-----------+

In [55]:
df_pyspark.groupBy('Name').avg().show()

+---------+------------------+
|     Name|       avg(salary)|
+---------+------------------+
|Sudhanshu|11666.666666666666|
|    Sunny|            6000.0|
|    Krish| 6333.333333333333|
|   Mahesh|            3500.0|
+---------+------------------+

In [56]:
### Groupby Departmernts  which gives maximum salary
df_pyspark.groupBy('Departments').sum().show()

+------------+-----------+
| Departments|sum(salary)|
+------------+-----------+
|         IOT|      15000|
|    Big Data|      15000|
|Data Science|      43000|
+------------+-----------+

In [57]:
df_pyspark.groupBy('Departments').mean().show()

+------------+-----------+
| Departments|avg(salary)|
+------------+-----------+
|         IOT|     7500.0|
|    Big Data|     3750.0|
|Data Science|    10750.0|
+------------+-----------+

In [58]:
df_pyspark.groupBy('Departments').count().show()

+------------+-----+
| Departments|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    4|
|Data Science|    4|
+------------+-----+

In [59]:
df_pyspark.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|      73000|
+-----------+